- actions:
    - s3:PutObject
    - s3:GetObjectAcl
    - s3:GetObject
    - s3:ListBucket
    - s3:DeleteObject
    - s3:PutObjectAcl
  resources:
    - arn:aws:s3:::sample-django-bucket-${environment}-${aws_account}
    - arn:aws:s3:::sample-django-bucket-${environment}-${aws_account}/*
    - arn:aws:s3:::django-extra-bucket-${environment}-${aws_account}
    - arn:aws:s3:::django-extra-bucket-${environment}-${aws_account}/*
- actions:
    - secretsmanager:GetSecretValue
  resources:
    - arn:aws:secretsmanager:${aws_region}:${aws_account}:secret:/rds/*
